[submodule "map"] 
    path = map 
    url = https://github.com/nelloy-git/map.git
[submodule "wc3-builder"]
	path = wc3-builder
	url = https://github.com/nelloy-git/wc3-builder
[submodule "src/Lib/Wc3Handle"]
	path = src/Lib/Wc3Handle
	url = https://github.com/nelloy-git/Wc3Handle.git
[submodule "src/Lib/LuaClass"]
	path = src/Lib/LuaClass
	url = https://github.com/nelloy-git/LuaClass.git
[submodule "src/Lib/Wc3Utils"]
	path = src/Lib/Wc3Utils
	url = https://github.com/nelloy-git/Wc3Utils.git
[submodule "src/Lib/Wc3Binary"]
	path = src/Lib/Wc3Binary
	url = https://github.com/nelloy-git/Wc3Binary.git
[submodule "src/Lib/Wc3Input"]
	path = src/Lib/Wc3Input
	url = https://github.com/nelloy-git/Wc3Input.git
[submodule "src/Lib/Wc3Damage"]
	path = src/Lib/Wc3Damage
	url = https://github.com/nelloy-git/Wc3Damage.git
[submodule "src/Lib/Wc3Parameter"]
	path = src/Lib/Wc3Parameter
	url = https://github.com/nelloy-git/Wc3Parameter.git
[submodule "src/Lib/Wc3FrameExt"]
	path = src/Lib/Wc3FrameExt
	url = https://github.com/nelloy-git/Wc3FrameExt.git
[submodule "src/Lib/Wc3AbilityExt"]
	path = src/Lib/Wc3AbilityExt
	url = https://github.com/nelloy-git/Wc3AbilityExt.git
